/* проект/frontend/src/App.css */

.App {
    min-height: 100vh;

    /*
      --- ИЗМЕНЕНИЕ ---
      Добавляем "умные" отступы, которые будут работать только на устройствах с "чёлкой".
      На обычных экранах эти значения будут равны 0.
      Это основной отступ для всего контента.
    */
    padding-top: env(safe-area-inset-top);
}

body {
    touch-action: manipulation;
}

.page-content {
    flex-grow: 1;
}